<div 
class="card w-[90%] mx-[5%] md:mx-0 md:w-180 max-h-[90vh] overflow-y-auto overflow-x-hidden px-5 pb-5 bg-white shadow-md lg:shadow-xl rounded-xl flex flex-col scroll-smooth relative z-100">

    <div class="w-full pt-5 border-b border-gray-200 sticky flex items-center justify-between top-0 z-10 bg-white h-full pb-2">
        <h3 class="font-medium text-xl w-full text-left z-5"> {{ data.project }} </h3>
        <button (click)="closeDialog()" class="hover:cursor-pointer">
            <lucide-angular [img]="X" class="my-icon mb-2 w-6 h-6 stroke-2 stroke-black"></lucide-angular>
        </button>
    </div>

    <img
        [src]=`${path}${data.img}`
        alt=""
        class="w-full h-full object-fill lg:object-cover"
    />

    <p class="font-light text-base my-2 w-full text-left z-5 flex items-center"> 
        <lucide-angular [img]="CalendarRange" class="my-icon mr-1.5 w-5 h-5 stroke-1 stroke-black"></lucide-angular>
        {{data.period}} 
    </p>
    <p class="font-light text-base mb-2 w-full text-left flex items-center"> 
        <lucide-angular [img]="IdCardLanyard" class="my-icon mr-1.5 w-5 h-5 stroke-1 stroke-black"></lucide-angular>
        {{data.role}} 
    </p>
    <p class="font-normal text-lg mb-2 w-full text-left inline" [innerHTML]="data.description"></p>
    <p class="font-normal text-lg mb-4 w-full text-left inline" [innerHTML]="data.details"></p>

    <div class="stack w-full flex flex-wrap mb-4 gap-2">
        @for(tech of data.stack; track $index){
            <p class="px-2 text-gray-600 border border-gray-600 rounded-xl whitespace-nowrap"> {{tech}} </p>
        }
    </div>

    <div class="w-full buttons flex items-start justify-start pb-2 gap-4">
        @if(data.repositories){

            @if(data.repositories.frontend){
                @switch(data.repositories.frontend.platform){
                    @case('GitLab'){
                        <button class="bg-black-custom p-2 border-2 border-black-custom rounded-lg flex items-center justify-center hover:cursor-pointer hover:bg-black hover:border-black hover:font-semibold "> 
                            <lucide-angular [img]="Gitlab" class="my-icon mr-1.5 w-5 h-5 stroke-2 stroke-white"></lucide-angular>

                            <span class="font-normal text-sm lg:text-md text-white"> 
                                Frontend
                            </span>
                        </button>
                    }
                    @case('GitHub'){
                        <button class="bg-black-custom p-2 border-2 border-black-custom rounded-lg flex items-center justify-center hover:cursor-pointer hover:bg-black hover:border-black hover:font-semibold "> 
                            <lucide-angular [img]="Github" class="my-icon mr-1.5 w-5 h-5 stroke-2 stroke-white"></lucide-angular>

                            <span class="font-normal text-sm lg:text-md text-white"> 
                                Frontend
                            </span>
                        </button>
                    }
                }
            }@if(data.repositories.backend){
                @switch(data.repositories.backend.platform){
                    @case('GitLab'){
                        <button class="bg-black-custom p-2 border-2 border-black-custom rounded-lg flex items-center justify-center hover:cursor-pointer hover:bg-black hover:border-black hover:font-semibold "> 
                            <lucide-angular [img]="Gitlab" class="my-icon mr-1.5 w-5 h-5 stroke-2 stroke-white"></lucide-angular>

                            <span class="font-normal text-sm lg:text-md text-white"> 
                                Backend
                            </span>
                        </button>
                    }
                    @case('GitHub'){
                        <button class="bg-black-custom p-2 border-2 border-black-custom rounded-lg flex items-center justify-center hover:cursor-pointer hover:bg-black hover:border-black hover:font-semibold "> 
                            <lucide-angular [img]="Github" class="my-icon mr-1.5 w-5 h-5 stroke-2 stroke-white"></lucide-angular>

                            <span class="font-normal text-sm lg:text-md text-white"> 
                                Backend
                            </span>
                        </button>
                    }
                }
            }
            
        }
    </div>
</div>