<nav class="w-full h-20 shadow-md rounded-b-2xl flex items-center justify-center">
    <div class="menu w-350  flex items-center justify-between">
        <div class="logo flex p-4">
            <h1 class="text-4xl font-semibold"> Jnthnexpdev </h1>
        </div>

        <ul class="flex ">
            <li class="flex items-center p-4 hover:cursor-pointer">
                <lucide-angular [img]="BriefcaseBusiness  " class="my-icon mr-1.5 w-6 h-6 stroke-1.5"></lucide-angular>
                <a class="font-normal text-lg"> Experiencia </a>
            </li>
            <li class="flex items-center p-4 hover:cursor-pointer">
                <lucide-angular [img]="ChartNoAxesCombined " class="my-icon mr-1.5 w-6 h-6 stroke-1.5"></lucide-angular>
                <a class="font-normal text-lg"> Skills </a>
            </li>
            <li class="flex items-center p-4 hover:cursor-pointer">
                <lucide-angular [img]="ContactRound " class="my-icon mr-1.5 w-6 h-6 stroke-1.5"></lucide-angular>
                <a class="font-normal text-lg"> Contacto </a>
            </li>
        </ul>

        <div>
            <button class="bg-blue px-4 py-3 rounded-lg flex items-center hover:cursor-pointer"> 
                <lucide-angular [img]="Phone" class="my-icon mr-1.5 w-6 h-6 stroke-2 stroke-white"></lucide-angular>
                <span class="font-normal text-lg text-white"> Contactame  </span>
            </button>
        </div>

    </div>
</nav>