<nav class="w-full h-20 shadow-md rounded-b-2xl flex items-center justify-center">
    <div class="menu w-350  flex items-center justify-between">
        <div class="logo flex p-4">
            <h1 class="text-4xl font-semibold"> Jnthnexpdev </h1>
        </div>

        <ul class="flex ">
            <li class="flex items-center hover:cursor-pointer">
                <a href="#experience" class="flex items-center p-4 text-lg font-normal  hover:text-gray-600 transition">
                    <lucide-angular [img]="BriefcaseBusiness"class="mr-1.5 w-6 h-6 stroke-1.5"></lucide-angular>
                    Experiencia
                </a>
            </li>
            <li class="flex items-center hover:cursor-pointer">
                <a href="#experience" class="flex items-center p-4 text-lg font-normal  hover:text-gray-600 transition">
                    <lucide-angular [img]="ChartNoAxesCombined"class="mr-1.5 w-6 h-6 stroke-1.5"></lucide-angular>
                    Skills
                </a>
            </li>
            <li class="flex items-center hover:cursor-pointer">
                <a href="#experience" class="flex items-center p-4 text-lg font-normal  hover:text-gray-600 transition">
                    <lucide-angular [img]="ContactRound"class="mr-1.5 w-6 h-6 stroke-1.5"></lucide-angular>
                    Contacto
                </a>
            </li>
        </ul>

        <div class="flex items-center mx-4">
            <button (click)="toggleLanguage()" class="p-4 mr-2 flex items-center hover:cursor-pointer">
                @if(language() === 'es'){
                    <span class="text-sm font-semibold"> ES </span>
                    <span class="mx-1"> | </span>
                    <span class="text-sm text-gray-400 font-light"> EN </span>
                }@else {
                    <span class="text-sm text-gray-400 font-light"> ES </span>
                    <span class="mx-1"> | </span>
                    <span class="text-sm font-semibold"> EN </span>
                }
            </button>

            <button class="bg-black-custom px-4 py-3 rounded-lg flex items-center hover:cursor-pointer hover:bg-gray-700"> 
                <lucide-angular [img]="Phone" class="my-icon mr-1.5 w-5 h-5 stroke-2 stroke-white"></lucide-angular>
                <span class="font-normal text-lg text-white"> Contactame  </span>
            </button>
        </div>

    </div>
</nav>